In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
cases_df= pd.read_csv("global_data_covid_cases.csv")

In [3]:
cases_df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,1/3/20,AF,Afghanistan,EMRO,0,0,0,0
1,1/4/20,AF,Afghanistan,EMRO,0,0,0,0
2,1/5/20,AF,Afghanistan,EMRO,0,0,0,0
3,1/6/20,AF,Afghanistan,EMRO,0,0,0,0
4,1/7/20,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
101668,3/2/21,ZW,Zimbabwe,AFRO,26,36115,5,1468
101669,3/3/21,ZW,Zimbabwe,AFRO,33,36148,4,1472
101670,3/4/21,ZW,Zimbabwe,AFRO,31,36179,6,1478
101671,3/5/21,ZW,Zimbabwe,AFRO,44,36223,5,1483
101672,3/6/21,ZW,Zimbabwe,AFRO,25,36248,1,1484

In [4]:
cases_df_clean=cases_df[cases_df.Cumulative_cases !=0]

In [5]:
cases_df_clean

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
52,2/24/20,AF,Afghanistan,EMRO,5,5,0,0
53,2/25/20,AF,Afghanistan,EMRO,0,5,0,0
54,2/26/20,AF,Afghanistan,EMRO,0,5,0,0
55,2/27/20,AF,Afghanistan,EMRO,0,5,0,0
56,2/28/20,AF,Afghanistan,EMRO,0,5,0,0
...,...,...,...,...,...,...,...,...
101668,3/2/21,ZW,Zimbabwe,AFRO,26,36115,5,1468
101669,3/3/21,ZW,Zimbabwe,AFRO,33,36148,4,1472
101670,3/4/21,ZW,Zimbabwe,AFRO,31,36179,6,1478
101671,3/5/21,ZW,Zimbabwe,AFRO,44,36223,5,1483
101672,3/6/21,ZW,Zimbabwe,AFRO,25,36248,1,1484

In [7]:
cases_df_clean.to_csv('COVID_cases.csv', index=False)