In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
mexico_df= pd.read_csv("../Resources/210309COVID19MEXICO.csv")

In [3]:
mexico_df

,ID_REGISTRO,SEXO,ENTIDAD_NAC,ENTIDAD_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,INTUBADO,NEUMONIA,EDAD,...,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
0,z482b8,2,9,9,1,16/10/20,16/10/20,97,2,41,...,2,2,2,2,2,2,2,2,2,2
1,z49a69,1,23,23,2,20/07/20,17/07/20,1,1,66,...,1,2,2,2,1,2,2,1,2,2
2,z23d9d,2,24,22,1,05/01/21,05/01/21,97,2,29,...,2,2,2,2,2,2,2,98,2,2
3,z24953,1,9,9,1,15/10/20,15/10/20,97,2,40,...,2,2,2,2,2,2,2,2,2,2
4,zz8e77,2,9,9,1,16/04/20,10/04/20,97,2,34,...,2,1,1,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,152a09,1,28,28,1,18/07/20,06/07/20,97,2,17,...,2,2,2,2,2,2,2,2,2,2
1048571,0ebaaf,1,16,18,1,23/07/20,22/07/20,97,2,57,...,2,2,2,2,2,2,2,2,2,2
1048572,05c07c,2,26,26,1,23/07/20,18/07/20,97,2,35,...,2,2,2,2,2,2,2,2,2,2
1048573,1de190,1,9,9,1,07/07/20,30/06/20,97,2,38,...,2,2,2,2,2,2,2,2,2,2
1048574,1298b1,1,9,9,1,21/07/20,21/07/20,97,2,20,...,2,2,2,2,2,2,2,2,1,2

In [22]:
 mexico_df_1=mexico_df.drop(['TIPO_PACIENTE', 'ENTIDAD_RES', 'FECHA_INGRESO','FECHA_SINTOMAS','INDIGENA','OTRA_COM'], axis=1)

In [26]:
mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]

<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]
<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]

<ipython-input-26-83ca4b5f13ab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mexico_df_clean=mexico_df_1[mexico_df_1.DIABETES != 97][mexico_df_1.DIABETES != 98][mexico_df_1.EPOC != 97][mexico_df_1.EPOC != 98][mexico_df_1.ASMA != 97][mexico_df_1.ASMA != 98][mexico_df_1.INMUSUPR != 97][mexico_df_1.INMUSUPR != 98][mexico_df_1.HIPERTENSION != 97][mexico_df_1.HIPERTENSION != 98][mexico_df_1.CARDIOVASCULAR != 97][mexico_df_1.CARDIOVASCULAR != 98][mexico_df_1.OBESIDAD != 98][mexico_df_1.OBESIDAD != 97][mexico_df_1.RENAL_CRONICA != 98][mexico_df_1.RENAL_CRONICA != 97][mexico_df_1.TABAQUISMO != 98][mexico_df_1.TABAQUISMO != 97]

In [27]:
mexico_df_clean

,ID_REGISTRO,SEXO,ENTIDAD_NAC,INTUBADO,NEUMONIA,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
0,z482b8,2,9,97,2,41,97,2,2,2,2,2,2,2,2,2
1,z49a69,1,23,1,1,66,2,1,2,2,2,1,2,1,2,2
3,z24953,1,9,97,2,40,98,2,2,2,2,2,2,2,2,2
4,zz8e77,2,9,97,2,34,97,2,1,1,2,2,2,2,2,2
5,z1b0d1,1,1,97,2,48,2,1,2,2,2,2,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,152a09,1,28,97,2,17,2,2,2,2,2,2,2,2,2,2
1048571,0ebaaf,1,16,97,2,57,2,2,2,2,2,2,2,2,2,2
1048572,05c07c,2,26,97,2,35,97,2,2,2,2,2,2,2,2,2
1048573,1de190,1,9,97,2,38,2,2,2,2,2,2,2,2,2,2
1048574,1298b1,1,9,97,2,20,2,2,2,2,2,2,2,2,1,2

In [46]:
mexico_df_clean.loc[(mexico_df_clean['EMBARAZO']==98)]

,ID_REGISTRO,SEXO,ENTIDAD_NAC,INTUBADO,NEUMONIA,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
3,z24953,1,9,97,2,40,98,2,2,2,2,2,2,2,2,2
9,z1b985,1,9,97,2,40,98,2,2,2,2,2,1,2,2,2
108,zzfb6a,1,3,97,2,40,98,2,2,1,2,2,2,1,2,2
152,158c4c,1,1,97,2,28,98,2,2,2,2,2,2,2,2,2
163,1c37f0,1,7,97,2,26,98,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047061,1537c6,1,9,97,2,60,98,2,2,2,2,2,2,2,2,2
1047148,11cd57,1,9,97,2,59,98,2,2,2,2,2,2,2,2,2
1047181,05d985,1,8,97,2,22,98,2,2,2,2,2,2,2,2,1
1047188,1b391f,1,9,97,2,46,98,2,2,2,2,2,1,2,2,2
1047236,0f4037,1,9,97,2,41,98,2,2,2,2,2,2,2,2,2

In [53]:
mexico_df_clean=mexico_df_1[mexico_df_1.EMBARAZO != 98]

In [54]:
mexico_df_clean=mexico_df_clean.replace(to_replace=97,
                        value=2)

,ID_REGISTRO,SEXO,ENTIDAD_NAC,INTUBADO,NEUMONIA,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
0,z482b8,2,9,2,2,41,2,2,2,2,2,2,2,2,2,2
1,z49a69,1,23,1,1,66,2,1,2,2,2,1,2,1,2,2
2,z23d9d,2,24,2,2,29,2,2,2,2,2,2,2,98,2,2
4,zz8e77,2,9,2,2,34,2,2,1,1,2,2,2,2,2,2
5,z1b0d1,1,1,2,2,48,2,1,2,2,2,2,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,152a09,1,28,2,2,17,2,2,2,2,2,2,2,2,2,2
1048571,0ebaaf,1,16,2,2,57,2,2,2,2,2,2,2,2,2,2
1048572,05c07c,2,26,2,2,35,2,2,2,2,2,2,2,2,2,2
1048573,1de190,1,9,2,2,38,2,2,2,2,2,2,2,2,2,2
1048574,1298b1,1,9,2,2,20,2,2,2,2,2,2,2,2,1,2

In [65]:
bins=[0,25,40,55,70,85,100]
age_group=['<25','25 - 40','41 - 55','56 - 70','71 - 85','85+']
mexico_df_clean['Age Ranges']=pd.cut(mexico_df_clean['EDAD'],bins,labels=age_group)

In [66]:
mexico_df_clean

,ID_REGISTRO,SEXO,ENTIDAD_NAC,INTUBADO,NEUMONIA,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,Age Ranges
0,z482b8,2,9,2,2,41,2,2,2,2,2,2,2,2,2,2,41 - 55
1,z49a69,1,23,1,1,66,2,1,2,2,2,1,2,1,2,2,56 - 70
2,z23d9d,2,24,2,2,29,2,2,2,2,2,2,2,98,2,2,25 - 40
4,zz8e77,2,9,2,2,34,2,2,1,1,2,2,2,2,2,2,25 - 40
5,z1b0d1,1,1,2,2,48,2,1,2,2,2,2,2,1,2,2,41 - 55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,152a09,1,28,2,2,17,2,2,2,2,2,2,2,2,2,2,<25
1048571,0ebaaf,1,16,2,2,57,2,2,2,2,2,2,2,2,2,2,56 - 70
1048572,05c07c,2,26,2,2,35,2,2,2,2,2,2,2,2,2,2,25 - 40
1048573,1de190,1,9,2,2,38,2,2,2,2,2,2,2,2,2,2,25 - 40
1048574,1298b1,1,9,2,2,20,2,2,2,2,2,2,2,2,1,2,<25

In [67]:
mexico_df_clean.to_csv('mexico_clean_data.csv', index=False)